name: create upstream issue
on:
  repository_dispatch:
    types: [target-updated]
jobs:
  upstream-issue:
    name: upstream issue
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: actions/github-script@v7
        id: set-result
        with:
          script: |
            const { data } = await github.request('GET /repos/{owner}/{repo}/commits/{commit_sha}/pulls', {
              owner: 'wattanx',
              repo: 'repository-dispatch-owner',
              commit_sha: '${{ github.event.client_payload.sha }}',
            })
            console.log(data)
            return data[0].html_url
      - name: log result
        run: echo "${{steps.set-result.outputs.result}}"
      - name: create issue
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.create({
              owner: 'wattanx',
              repo: 'repository-dispatch-upstream',
              title: 'Need to port from upstream',
              body: `## Pull Request
              ${{steps.set-result.outputs.result}}`,
            })
